<script>
    import { scaleLinear, scaleTime } from "d3-scale";
    import { axisBottom, axisTop, axisLeft, axisRight } from "d3-axis";
    import { format } from "d3-format";
    import {timeFormat} from "d3-time-format";

    import { select } from "d3-selection";
    export let reversed = false 
    export let week_i = 48
    export let data = []
    export let axis_display_selected = 1
    export let angle_tilt = 45 // final rotation of the element in trigonometric direction 
    let R_angle_tilt = angle_tilt / 180 * Math.PI 
    if (reversed) {
      R_angle_tilt = R_angle_tilt
    }
    // console.log('sunleaf')
    // console.log(data)

    export let height = 400
    export let width = 200
    export let yMax = 1000

    export let value_selected = 0
    export let data_selected = 0
 
    // console.log(height, '- ', width, '- ', yMax )
    let xScale = scaleLinear().domain([0, 7*24]).range([0, width])
    let yScale = scaleLinear().domain([yMax, 0]).range([0, height/2])
    let yScale_inverted = scaleLinear().domain([0, yMax]).range([0, height/2])


    let pathGenerator = (d, inverted = false) => {  // this is a function
        // let path = "M 0,0 15,5 26,3 Z"
        let path = "M 0," + height /2; // yScale(0);
        d.forEach((value, idx) => {
            if (inverted){
              path +=" " + xScale(idx) + ',' + yScale_inverted(value)
            }
            else {
              path +=" " + xScale(idx) + ',' + yScale(value)
            }
            // path +=" " + idx + ',' + value
        })
        // path +=" " + + d.length + ', ' + height/2; //yScale(0);
         path +=" " + + xScale(d.length) + ', ' + height/2; //yScale(0);

        return path

    }

    let TimeScale
    let year = 2014
    let month = 11 // lol...
    let start_day = (week_i - 48 ) * 7 + 1
    if (reversed){ // Why TF Date(2014,12,1,0,0) is offset by one month ?? Why starting counting month at 0 and day at 1 ?
        TimeScale = scaleTime().domain([new Date(year,month,start_day,0,0), new Date(year,month,start_day+7,0,0)]).range([width, 0])
    }
    else{
        TimeScale = scaleTime().domain([new Date(year,month,start_day,0,0), new Date(year,month,start_day+7,0,0)]).range([0, width])
    }
  const xAxis = (node) =>
  axisTop(TimeScale).tickValues([
      new Date(year,month,start_day+0,0,0),
      new Date(year,month,start_day+1,0,0),
      new Date(year,month,start_day+2,0,0),
      new Date(year,month,start_day+3,0,0),
      new Date(year,month,start_day+4,0,0),
      new Date(year,month,start_day+5,0,0),
      new Date(year,month,start_day+6,0,0),
      new Date(year,month,start_day+7,0,0)]).tickFormat(timeFormat("%b %d"))(
      select(node) 
    );
    // const formatTime = timeFormat("%B %d, %Y")
    // console.log('tatatata', formatTime(new Date(2014,0,2)))

    
  const yAxis_inverted = (node) => axisRight(yScale_inverted).tickValues([0, yMax/2, yMax])(select(node));
  const yAxis = (node) => axisRight(yScale).tickValues([yMax, yMax/2,  0])(select(node));

// Mouse overing
let is_hovered = false
function onmouseoverfunc(e) {
  is_hovered = true;
}
function onmouseoutfunc(e) {
  is_hovered = false;
  value_selected = 0
  data_selected = new Date(year,month,start_day,0,0)
}
let mouse_position_x = 0
let mouse_position_y = 0
function onmousemovefunc(ev) {
  // console.log('titi');
  let overed_rect = ev.target.getBoundingClientRect();
  
  if (reversed)
  {
    let a = (ev.clientY - overed_rect.top)
    let b = (overed_rect.right - ev.clientX)
    // console.log('overed_rect.right', overed_rect.right, 'left',overed_rect.left)
    let c = overed_rect.top + width * Math.sin(R_angle_tilt)
    let d = c - a - overed_rect.top
    d = c - ev.clientY
    let e = (b**2 + d**2)**0.5
    let alpha = 0
    if (e > 0) {
      alpha = Math.asin(d/e)
    }
    let beta = Math.PI/4 - alpha

    mouse_position_x = e * Math.cos(beta)
    mouse_position_y =  e * Math.sin(beta)
    // console.log(mouse_position_x, '-', mouse_position_y)
    value_selected = Math.abs(yScale.invert(mouse_position_y))
    data_selected = TimeScale.invert(width - mouse_position_x)
  }
  else {
  let a = (ev.clientY - overed_rect.top)
  let b = (ev.clientX - overed_rect.left)
  let c = overed_rect.top + width * Math.sin(R_angle_tilt)
  let d = c - a - overed_rect.top
  let e = (b**2 + d**2)**0.5
  let alpha = 0
  if (e > 0) {
  alpha = Math.acos(d/e)
  }
  let beta = Math.PI*3/4 - alpha

  mouse_position_x = e * Math.sin(beta)
  mouse_position_y = e * Math.cos(beta)
  // console.log(mouse_position_x, '-', mouse_position_y)
  value_selected = Math.abs(yScale.invert(mouse_position_y))
  data_selected = TimeScale.invert( mouse_position_x)
 //  console.log(data_selected + '')
}

}
</script>


<!-- <path class="total_electrity" d={pathGenerator(data['total_electrity'], false)} /> -->

<!-- FLIP : https://stackoverflow.com/questions/23899718/scale-and-mirror-svg-object -->
<g transform="translate(0,{0}) scale({1}, {1})" > 

    <path class="total_electrity" d={pathGenerator(data['total_electrity'], false)} />
</g>
<g transform="translate(0,{height}) scale({1}, {-1})"> 
    <path class="total_gas" d={pathGenerator(data['total_gas'], false)} />
    
</g>

{#if is_hovered }
<line x1="{mouse_position_x}" x2="{mouse_position_x}" y1="{-50+height/2}" y2="{50+height/2 +20}" />
<line x1="{-10}" x2="{50+width}" y1="{mouse_position_y}" y2="{mouse_position_y}" />
{/if}

<rect x=0 y=0 width="{width}" height="{height}" 
on:mouseover={function(event) {onmouseoverfunc(event)}} 
on:mouseout={function(event) {onmouseoutfunc(event)}}
on:mousemove={function(event) {onmousemovefunc(event)}} 
/>



{#if axis_display_selected==1 || (is_hovered && axis_display_selected==2) }
  {#if reversed}
      <!-- Add x-axis -->
      <g use:xAxis transform="scale({(-1)**1}, {1}) translate({-width}, {height + 25}) ">
          <text class="axis-label" x={width / 2} y=10  > date </text>
      </g>

      <!-- add y axis -->
  <g use:yAxis_inverted transform="scale(1, {-1}) translate({width + 25}, {-height/2})">
      <text
        class="axis-label-elec"
        x={-height / 2}
        y={0}
        transform="translate(40,{height*3/4}) rotate(90)"
      >
        elec.
      </text>
    </g>
    <g use:yAxis transform="scale(1, {-1}) translate({width + 25}, {-height})">
      <text
        class="axis-label-gas"
        x={-height / 2}
        y={0}
        transform="translate(40,{height*3/4}) rotate(90)"
      >
        gaz.
      </text>
    </g>
  {:else}
      <!-- Add x-axis -->
      <g use:xAxis transform="translate({0}, {height + 25})" font-size="5px">
          <text class="axis-label" x={width / 2} y=10  > date</text>
    </g>

        <!-- add y axis -->
  <g use:yAxis transform="translate({width + 25}, {0})">
      <text
        class="axis-label-elec"
        x={-height / 2}
        y={0}
        transform="translate(40,{height*3/4}) rotate(90)"
      >
        elec.
      </text>
    </g>
    <g use:yAxis_inverted transform="translate({width + 25}, {height/2})">
      <text
        class="axis-label-gas"
        x={-height / 2}
        y={0}
        transform="translate(40,{height*3/4}) rotate(90)"
      >
        gaz.
      </text>
    </g>
  {/if}
{/if}





<style>
    .total_electrity {
    stroke:rgb(56, 56, 202);
    fill: rgb(56, 56, 202);
    fill-opacity: 0.5;

}
    .total_gas {
    stroke:rgb(187, 181, 92);
    fill: rgb(187, 181, 92);
    fill-opacity: 0.5;
}      
    line {
        stroke: black;
        stroke-opacity: 0.25;
    }

    .axis-label {
    font-size: 10px;
    text-anchor: middle;
    vertical-align: bottom;
    fill: darkgrey;
    }
    .axis-label-elec{
    font-size: 10px;
    text-anchor: middle;
    vertical-align: bottom;
    fill: rgb(56, 56, 202);
    }
    .axis-label-gas{
    font-size: 10px;
    text-anchor: middle;
    vertical-align: bottom;
    fill: rgb(187, 181, 92);
    }

    g { 
        font: 7px sans-serif;
    color:darkgrey; }

    rect 
    {
    stroke:transparent;
    fill: transparent;
    fill-opacity: 0;
    }
</style>
