<script>
    export let data = [1,2,3,4,100,50,20]
	export let xScale ;
	export let yScale ;
    export let subtitle = "";
    export let widget_height = 50;
    export let widget_width = 150;

    let pathGenerator = (d) => {  // this is a function
        // let path = "M 0,0 15,5 26,3 Z"
        let path = "M 0," + widget_height ; // yScale(0);
        d.forEach((value, idx) => {
            path +=" " + xScale(idx) + ',' + yScale(value)
        })
        path +=" " + + xScale(d.length) + ', ' + widget_height; //yScale(0);

        return path

    }
</script>

<style>
    circle {
      fill : black;
      fill-opacity: 0.5;
    }

    rect {
        fill:none;
        stroke: black;
    }

    path {
        stroke:black;
        fill: darkgrey;
        fill-opacity: 0.5;

    }

    line {
        stroke: black;
        stroke-opacity: 0.25;
    }


    .masterdiv, text {
    display:flexbox; 
    *display: inline; 
    zoom: 1; 
    vertical-align: bottom; 
    dominant-baseline: middle;
    font-size: 10px;
    }
    
    .tick {
    display:flexbox; 
    *display: inline; 
    zoom: 1; 
    vertical-align: bottom; 
    dominant-baseline: middle;
    font-size: 7px;
    }



</style>

<text y = {widget_height/2}> {subtitle}</text>
<rect x:0 y=0 width={widget_width} height={widget_height} />
<path d={pathGenerator(data)} />

<!-- horizontal lines -->
{#each [1,2,3,4] as tick}
    <line x1=0 x2={widget_width} y1={tick/5*widget_height} y2={tick/5*widget_height} />
    <text class='tick' x={widget_width} y={widget_height-tick/5*widget_height} >  {yScale.invert(widget_height-tick/5*widget_height).toFixed(0)}</text>
{/each}
