<script>
    let scaling_option = [
        'Across all building types', 
        'within building types'];
	export let sclaling_idx_selected ;
</script>


    <div class="masterdiv">
        <h6>Scaling</h6>
            {#each scaling_option as scaling, idx}
            <div>
                <label>
                    <input type=radio bind:group={sclaling_idx_selected} name="scaling" value={idx}>
                    {scaling}
                </label>
            </div>
            {/each}
        </div>


<style>
    input {
        display: inline-block; 
        *display: inline; 
        zoom: 1; 
        vertical-align: top; 
        font-size: 12px;
        }

        .masterdiv, label {
        display:flexbox; 
        *display: inline; 
        zoom: 1; 
        vertical-align: top; 
        font-size: 10px;
        }

</style>