<script>
    
    import SunLeaf from './_design_3_sunleaf.svelte';
    export let data = []
    export let widget_height = 400
    export let widget_width = 200
    export let yMax = 1000
    export let axis_display_selected = 1
    // console.log('sunflower', (-1)**2 )
    // console.log(data)
    let margin_bottom = 20
    let margin_top = 10
    $: number_of_leaf = Object.entries(data).length
    $: leaf_width = widget_width/2.2
    $: leaf_height = (widget_height - 0 - leaf_width*Math.sin(-leaf_angle/180*Math.PI) - margin_bottom - margin_top) /(number_of_leaf)
    $: leaf_angle = '-45' // anti trigonometric direction.. ok i guess.
    leaf_height = (widget_height - leaf_height*Math.sin(-leaf_angle/180*Math.PI) - leaf_width*Math.sin(-leaf_angle/180*Math.PI ) - margin_bottom - margin_top) /(number_of_leaf)
    $: stem_height = leaf_height

    let value_selected = 0
    let data_selected =0
</script>



{#each Object.entries(data) as [week_i, week_data], idx }

    <!-- add the stem -->
    <line x1={widget_width/2} x2={widget_width/2} y1={margin_top+stem_height} y2={widget_height-margin_bottom}/>

    <!-- rotate -->
    <g transform="translate({widget_width/2 },{widget_height-stem_height*(idx+1) - margin_bottom})">
        <!-- Axis and ticks -->
        <line x1=-5 x2=5 y1=0 y2=0></line>
        {#if idx%2 == 1}
         <text class="axis_legend"  text-anchor="start"> W{week_i }</text>
        {:else}
        <text class="axis_legend"  text-anchor="end"> W{week_i} </text>
        {/if}
        <g transform="rotate({(-1)**week_i*leaf_angle}) "> 
            
            <g transform="translate({0},{-leaf_height/2})">
                <!--  flip on Y axis -->
                <g transform="translate({0/2},{0/2}) scale({(-1)**week_i}, {1})">  
                    <!-- <rect x=0 y=0 height={leaf_height} width={leaf_width} /> -->
                    <SunLeaf data = {week_data} height={leaf_height} width={leaf_width} {yMax} {week_i} 
                    reversed = {week_i%2 == 1} {axis_display_selected} angle_tilt={-leaf_angle}
                    bind:value_selected={value_selected}
                    bind:data_selected={data_selected} />
                </g> 
            </g>
        </g>
        <g transform="translate({50 },{0})">
        

            
        </g>

    </g>
    
{/each}
{#if value_selected != 0}
<text> Value selected : {value_selected.toFixed(0)} on {data_selected}</text>
<g transform="translate({0},{widget_height - 20})">
    <text> Value selected : {value_selected.toFixed(0)} on {data_selected}</text>
</g>
{:else}
<text> Value selected : - on -</text>
<g transform="translate({0},{widget_height - 20})">
<text> Value selected : - on -</text>
</g>
{/if}
<style>
 
line {
    stroke: olivedrab;
    stroke-opacity: 0.5;
}

.masterdiv, text {
    display:flexbox; 
    *display: inline; 
    zoom: 1; 
    vertical-align: bottom; 
    dominant-baseline: middle;
     text-anchor:"middle"; /* no effect ? */
    font-size: 10px;
    }
    .axis_legend{
    font-size: 8px;
    }
</style>