<script>
    export let cities = ['Baltimore', 'Chicago', 'Los Angeles'];
	export let city_selected ;
</script>


<div class="masterdive">
    <h6>Location</h6>
        {#each cities as city, idx}
        <div>
            <label>
                <input type=radio   bind:group={city_selected} name="location" value={city}>
                {city}
            </label>
        </div>
        {/each}
</div>

<style>
    input {
        display: inline-block; 
        *display: inline; 
        zoom: 1; 
        vertical-align: top; 
        font-size: 12px;
        }

        .masterdiv, label {
        display:flexbox; 
        *display: inline; 
        zoom: 1; 
        vertical-align: top; 
        font-size: 10px;
        }

</style>