<script>


    // faire une sous fonction pour calculer le path
    // en gros, mois par mois on va 
    // compter le nombre de jour, chaque jour fera 30° / nb_day
    // On calcule la position comme 
    //  - angle = (moins_number - 1 ) * 30° + day_number * °perday
    // x_of_day = sin(angle) * energy * scaling factor
    // y_of_day = cos(angle) * energy * scaling factor
    // après y'a plus qu'a peindre

    export let data = [1,2,3,4,100,50,20]
    export let title ="Baltimore";
    export let width=50 
    export let height=50;
    export let max_energy = 1000; 
    export let min_energy = 0;
    export let show_legend = false
    let radius = Math.min(width, height) * 0.85 / 2 * 1.1
    let axis_radius = radius 
    let tick_ratio = 1.05
    let cartesian_line_lenght = axis_radius * tick_ratio
  
    // $: console.log(data)
    // console.log(Math.sin(30/180*Math.PI))


    let pathGenerator = (d) => {  // this is a function
        // let path = "M 0,0 15,5 26,3 Z"
        // let path = "M 0," + widget_height ; // yScale(0);
        let path = "M"
        // console.log('AAAA' + max_energy)
        if (show_legend)
        {
            // console.log("dsfsdfsd")
        // console.log(data)
        }
        //d.forEach((month, jdx) => {
        for (var i = 1; i <= 12; i++) { 
           // console.log('bbbb')
            // TODO : get number of days of the month to scale angle
            // TODO : scale betwee
            let angle_scale = 30 / d[i].length 
            let angle = 0

            d[i].forEach((value, idx) => {
                angle = 30*(i) + idx * angle_scale // Note: January start at 1 o'clock... this visualization is confusing
               // console.log('t ' + angle + ' ' + value + ' ' + Math.sin(angle/180*Math.PI)*value/max_energy*radius + ', ' + Math.cos(angle/180*Math.PI)*value/max_energy*radius )
               // Note : Angle = 0° => vertical Axe toward the sky ( to 0 ) 
               path +=" " + Math.sin(angle/180*Math.PI)*value/max_energy*radius + ', ' + -Math.cos(angle/180*Math.PI)*value/max_energy*radius
            })
        }

        // connect last point with the first
         i = 1
        let idx = 0
        let angle_scale = 30 / d[i].length 
        let angle = 30*(i) + idx * angle_scale 
        let value = d[i][0]
        // console.log('value', value)
        path +=" " + Math.sin(angle/180*Math.PI)*value/max_energy*radius + ', ' + -Math.cos(angle/180*Math.PI)*value/max_energy*radius
        

        // console.log(path)
        

        return path

    }

</script>

<style>
    circle {
      fill : black;
      fill-opacity: 0.5;
    }

    rect {
        fill:none;
        stroke: black;
    }

    path {
        stroke:black;
        fill: darkgrey;
        fill-opacity: 0.5;

    }

    .annotation{
        stroke:darkgrey;
        fill: transparent;

    }

    .heating_circle {
        stroke:rgb(151, 25, 25);
        fill: rgb(151, 25, 25);
    }
    .cooling_circle {
        stroke:rgb(56, 56, 202);
        fill: rgb(56, 56, 202);
        fill-opacity: 0.5;
    }

    line, circle {
        stroke: black;
        stroke-opacity: 0.55;
    }


    .masterdiv, text {
    display:flexbox; 
    *display: inline; 
    zoom: 1; 
    vertical-align: bottom; 
    dominant-baseline: middle;
     text-anchor:"middle"; /* no effect ? */
    font-size: 10px;
    }
    .axis_legend{
    font-size: 8px;
    }

    .tick {
    display:flexbox; 
    *display: inline; 
    zoom: 1; 
    vertical-align: bottom; 
    dominant-baseline: middle;
    font-size: 7px;
    }

    circle {
        fill:transparent;
        stroke:black;
    }
</style>


{#if 'heating' in data}
    
    <g transform="translate({width/2}, {height*0.01})">
        <text text-anchor="middle">{title}</text>
    </g>
    <g transform="translate({width/2}, {height/2})">
        <!-- Circular axis -->
        <circle cx="0" cy="0" r="{axis_radius}"/>
        <circle cx="0" cy="0" r="{axis_radius/2}" stroke-dasharray="5 10" stroke-linecap="round" stroke-opacity="0.25"/>
        <circle cx="0" cy="0" r="{axis_radius/4}" stroke-dasharray="5 10" stroke-linecap="round" stroke-opacity="0.25"/>
        <circle cx="0" cy="0" r="{axis_radius/4*3}" stroke-dasharray="5 10" stroke-linecap="round" stroke-opacity="0.25"/>
        <!-- Lines -->
        <line x1={-cartesian_line_lenght} x2={cartesian_line_lenght}> </line>
        <line y1={-cartesian_line_lenght} y2={cartesian_line_lenght}> </line>
        
        <!-- Tick -->
        {#each Array(12) as M, i }
            <line y1={axis_radius / tick_ratio} y2={axis_radius * tick_ratio} transform="rotate({i*30})"> </line>
            <line y1={axis_radius / tick_ratio /2 } y2={axis_radius * tick_ratio/2} transform="rotate({i*30})"> </line>
            <line y1={axis_radius / tick_ratio /4 } y2={axis_radius * tick_ratio/4} transform="rotate({i*30})"> </line>
            <line y1={axis_radius / tick_ratio /4*3 } y2={axis_radius * tick_ratio/4*3} transform="rotate({i*30})"> </line>
        {/each}

        <!-- legends -->
        <text x=0 y={-cartesian_line_lenght * 1.04} text-anchor="middle"> 0</text>
        <text y=0 x={cartesian_line_lenght* 1.04} text-anchor="middle"> 3</text>
        <text x=0 y={cartesian_line_lenght* 1.04} text-anchor="middle"> 6</text>
        <text y=0 x={-cartesian_line_lenght* 1.04} text-anchor="middle"> 9</text>
        {#if show_legend}
        <!-- month arrow -->
            <path class="annotation" stroke-width="2" 
            d={"M" + cartesian_line_lenght * 1.2 * Math.sin(30/180*Math.PI) + "," +  -cartesian_line_lenght * 1.2 * Math.cos(30/180*Math.PI)  +
            " a"+cartesian_line_lenght * 1.2 /2 + "," + cartesian_line_lenght * 1.2/2 + " 0 0,1 40,40" }/>
            <path class="annotation" stroke-width="2" d="M92,-49 80,-60"></path>
            <path class="annotation" stroke-width="2" d="M92,-49 97,-65"></path>
            <text y = {-cartesian_line_lenght * 0.95 } x = {cartesian_line_lenght * 0.95 } fill-opacity=0.5 > month</text>

        <!-- line values -->
        <g transform="translate({axis_radius*Math.sin(150/180*Math.PI)}, {-axis_radius*Math.cos(150/180*Math.PI)})">
            <text class="axis_legend" fill-opacity=0.5>—{max_energy.toFixed()} kwh</text>
        </g>
        <g transform="translate({axis_radius/2*Math.sin(150/180*Math.PI)}, {-axis_radius/2*Math.cos(150/180*Math.PI)})">
            <text class="axis_legend" fill-opacity=0.5>—{(max_energy/2).toFixed()} kwh</text>
        </g>
        <g transform="translate({axis_radius/4*Math.sin(150/180*Math.PI)}, {-axis_radius/4*Math.cos(150/180*Math.PI)})">
            <text class="axis_legend" fill-opacity=0.5>—{(max_energy/4).toFixed()} kwh</text>
        </g>

        <g transform="translate({axis_radius/4*3*Math.sin(150/180*Math.PI)}, {-axis_radius/4*3*Math.cos(150/180*Math.PI)})">
            <text class="axis_legend" fill-opacity=0.5>—{(max_energy/4*3).toFixed()} kwh</text>
        </g>
        {/if}
        


        <!-- display data -->
        <path class='heating_circle' d={pathGenerator(data['heating'])} />
        
        <path class='cooling_circle' d={pathGenerator(data['cooling'])} fill="url(#diagonalHatch)"/>
    </g>
{:else}
    <text>data loading</text>
{/if}