<script>
  import SunFlower from './_design_3_sunflower.svelte';
  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
 
  // DATA
  let datapoints = []
    fetch("/data/hourly_electricity_vs_gas_december.json")
    .then(res => res.json())
    .then(data => datapoints = data)
  // $: console.log(datapoints)

  let transformed_data = {} // daily values 
  let max_value = 0

  $:{
    if (Object.keys(datapoints).length === 0) {
      // console.log('Data still loading')
    }
    else {
      // console.log(datapoints)
      datapoints.forEach((d) => {
        if ( !(d.city in transformed_data) ) {
          transformed_data[d.city] = {}

          for (let week_i=1; week_i <= 52; week_i++) {
            transformed_data[d.city][week_i] = {}
            for (let energy_type of ['total_electrity', 'total_gas']){
              transformed_data[d.city][week_i][energy_type] = []
            }
          }


        }
            // // before data structure changes
            // transformed_data[d.city]['total_electrity'][d.week].push(d.total_electrity)
            // transformed_data[d.city]['total_gas'][d.week].push(d.total_gas)


            transformed_data[d.city][d.week]['total_electrity'].push(d.total_electrity)
            transformed_data[d.city][d.week]['total_gas'].push(d.total_gas)

            if (d.total_electrity > max_value){
              max_value = d.total_electrity
            }
            if (d.total_gas > max_value){
              max_value = d.total_gas
            }

      })
          // console.log('debug')
          // console.log(transformed_data)
    }

    // let's remove all unused week...
    for (let city of Object.entries(transformed_data)){
      city = city[0] // because entries provide also the key of second, third levels...
      for (let week_i=1 ; week_i <= 52; week_i++ ){
        if (transformed_data[city][week_i]['total_electrity'].length === 0){
          delete transformed_data[city][week_i]
        }
      }
    }
  }

  // Option to show / hide axis
  let axis_display_selected = 2
</script>
<div>
  
<div class="masterdiv">
  </div>
  <h6>Display axis ?</h6>
      {#each Array('Always hide', 'always show', 'On hover only') as option, idx}
      <div>
          <label>
              <input type=radio bind:group={axis_display_selected} name="display" value={idx}>
              {option}
          </label>
      </div>
      {/each}

      
  <p><br><br><br> (Note: you can <br> hover on the leaf) </p>
    </div>


<div> 
<svg {width} {height}>

  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    {#if 'Chicago' in transformed_data}
      <SunFlower data={transformed_data['Chicago']} widget_width={innerWidth} widget_height={innerHeight} yMax={max_value} {axis_display_selected}/>
    {:else}
    <text> data loading...</text>
    {/if}
  </g>
</svg>
<div>
<h2> Baltimore (December 2014)</h2>
</div>
</div>
<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>

