<script>
  import { scaleLinear, scaleTime } from "d3-scale";
  import { extent } from "d3-array";
  import { select } from "d3-selection";
  import { axisBottom } from "d3-axis";
  import {timeFormat} from "d3-time-format";

  // import { format } from "d3-format";
  // import {timeFormat} from "d3-time-format"

  import CitiesSelect from './_design_1_location.svelte';
  import ScalingSelect from './_design_1_scaling.svelte';
  import EnergyTrend from './_design_1_trend.svelte';
  
  // Size and margins
  const width = 600;
  const height = 450;
  const margin = { top: 10, right: 20, bottom: 30, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  // hourly_heating_december.json



  // let's handle data here
  // {
  //   baltimore : 
  //   {
  //     BD1 : [a,b,c,...] // data for each day for buildingtype 1
  //   }
  //   city2 : ....
  // }
  let datapoints = []
  fetch("/data/hourly_heating_december.json")
  .then(res => res.json())
  .then(data => datapoints = data)
  // $:console.log(datapoints)

  let transformed_data = {}
  $:{
      datapoints.forEach((d) => {
      // $:console.log(d)
      // Object { city: "Los Angeles", buildingtype: "LargeHotel", day: 19, hour: 14, total_heating_energy: 2.2395381654 }
      if ( !(d.city in transformed_data) ) {
        transformed_data[d.city] = {}
      }
      
      if ( !(d.buildingtype in transformed_data[d.city])) {
        transformed_data[d.city][d.buildingtype] = []
        // let prefil for the 31*24 hours of the month (! day 1, hour 1  => index 0)
        // TODO : dynamic length according to real number of day of the month..
        for (var i = 1; i <= 31*24; i++) 
        {
          transformed_data[d.city][d.buildingtype].push(0);
        }
      }

    transformed_data[d.city][d.buildingtype][(d.day-1)*24+d.hour] = d.total_heating_energy

    })
  }

  // $:console.log(transformed_data)

  // Scaling
  let number_of_building_type = 16
  let xScale = scaleLinear().domain([0, 31*24]).range([0, innerWidth])

  // Scaling the same for all buildings
  //$: yScale = scaleLinear().domain(extent(datapoints.map((d) => d.total_heating_energy))).range([innerHeight/number_of_building_type, 0])

  $: yScale_by_BT = {}
  let data_filtered_city = []
  $:{
    if (Object.keys(transformed_data).length === 0) {
      // console.log('Data still loading')
    }
    else {
      let minmax_by_BT = {}
      if (city_selected in transformed_data) {

        if (sclaling_idx_selected == 0)
          {
            data_filtered_city = datapoints.map(function( dd, index, array)
            {
              if(dd.city == city_selected){
                //console.log(d.total_heating_energy)
                return dd.total_heating_energy
              }
            })
              //  console.log(extent(data_filtered_city))

          }
        // Because it is not an array
        for (const key in transformed_data[city_selected]) 
        { 
          if (sclaling_idx_selected == 0)
          {
           // yScale_by_BT[key] = scaleLinear().domain(extent(datapoints.map((d) => d.total_heating_energy))).range([innerHeight/number_of_building_type, 0])
          
            yScale_by_BT[key] = scaleLinear().domain(extent(data_filtered_city)).range([innerHeight/number_of_building_type, 0])
          }
          else
          {
            yScale_by_BT[key] = scaleLinear().domain(extent(transformed_data[city_selected][key])).range([innerHeight/number_of_building_type, 0])
            // console.log(key + ' - ' + extent(transformed_data[city_selected][key]) )
          }
          //console.log(key) 
          // console.log(transformed_data[city_selected][key])
        
          // console.log(yScale_by_BT[key]) 
        }
      }
    }
  }
  // Scaling by building type

  // Location selector
  let city_selected =  'Baltimore' // Object.keys(transformed_data)[0]  // 

  // Scaling selector
  $: sclaling_idx_selected = 0


  // Axes
  let TimeScale = scaleTime().domain([new Date(2014,11,1), new Date(2014,11,31)]).range([0, innerWidth])
  const xAxis = (node) =>
    axisBottom(TimeScale).tickValues([
      new Date(2014,11,1),
      new Date(2014,11,8),
      new Date(2014,11,15),
      new Date(2014,11,22),
      new Date(2014,11,31)]).tickFormat(timeFormat("%b %d"))( //.tickFormat(timeFormat('%b'))(
      select(node) 
    );
</script>


<!-- let's start with controlers -->

<div>
  <h3 class="invisble">© GDV-1</h3>
    <CitiesSelect bind:city_selected={city_selected} />
    <ScalingSelect bind:sclaling_idx_selected={sclaling_idx_selected} />
</div>



<div>
  
<h3>{city_selected} - Hourly total heat energy - December </h3>
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!-- <text>{city_selected}</text>
    <text>{sclaling_idx_selected}</text> -->

    {#if city_selected in transformed_data}
      {#each Object.keys(transformed_data[city_selected]) as buildtyp, buildtyp_idx }
        <g transform="translate(0, {buildtyp_idx*innerHeight/number_of_building_type})">
          <!-- <EnergyTrend yScale={yScale_by_BT[buildtyp]} {xScale} subtitle={buildtyp} data={transformed_data[city_selected][buildtyp]} widget_height={innerHeight/number_of_building_type}/>
           -->
          {#if sclaling_idx_selected == 1} <!-- I don't understand why if I type == x with x not 0 nor 1, it doesn't work??? -->
          <EnergyTrend yScale={yScale_by_BT[buildtyp]} {xScale} subtitle={buildtyp} data={transformed_data[city_selected][buildtyp]} widget_width={innerWidth} widget_height={innerHeight/number_of_building_type}/>
          {:else}
          <EnergyTrend yScale={yScale_by_BT[buildtyp]} {xScale} subtitle={buildtyp} data={transformed_data[city_selected][buildtyp]} widget_width={innerWidth} widget_height={innerHeight/number_of_building_type}/>
          {/if}
        </g>
      {/each}
    {/if}
  </g>
  
  <g use:xAxis transform="translate({margin.left}, {innerHeight + 20})">

    <text class="axis-label" x={innerWidth / 2} y=10  > date</text>
  </g>


</svg>
</div>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  #graph_zone{
    display: inline-block; 
    *display: inline; 
    zoom: 1; 
    vertical-align: top; 
    font-size: 12px;}

    line {
        stroke: black;
        stroke-opacity: 0.25;
    }

    .invisble{
        color: white;

    }
  .axis-label {
    font-size: 10px;
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }

</style>
