<div>
  <!-- I did not get the question. h1..h6 are called headings so i guessed I had to do something with header tags -->
  <header name="Section 150" style="font-size: 100px;">
    <p>Section 150</p>
  </header>
    <header name="Section 100" style="font-size: 100px;">
      <p>Section 100</p>
  </header>
  <header name="Section 50"style="font-size: 50px;">
    <p>Section 50</p>
  </header>
  <header name="Section 5" style="font-size: 5px;">
    <p>Section 5</p>
  </header>
</div>
