<script>
  let current = "";
</script>
<style>
  .Selected {
    background-color: blueviolet;
  }
</style>


<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" class:Selected={current=="messi"} on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" class:Selected={current=="ronaldo"} on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" class:Selected={current=="neymar"} on:click={() => (current = "neymar")}>
  Neymar
</button>