<div>
  <!--  -->
  <p>The best visual channels ordered by Mackinlay's ranking:" and an ordered list containing the items:</p>
  <ol>
    <li> Position,</li>
    <li> Length,</li>
    <li> and Angle.</li>
  </ol>
</div>
