<script>
    const aboutMe = {
        name: "Georges D.V.",
        hobbies: [
            "Science",
            "Programing",
            "Sport"
            ]
          }
</script>

<p id=text>My name is {aboutMe.name} and these are some of my favourite things: {aboutMe.hobbies} </p>