<script>
    const radius = 5 
    function sphere_circ_from_radius(radius) {
        // return 2pir
        return 2 * Math.PI * radius 
 }
</script>

<p>The circumference of a circle with radius {radius}m is {sphere_circ_from_radius(radius).toFixed(2)}m²</p>