<script>
  // Properties
 export let data = [];
  const continents = ["all", "europe", "asia", "americas", "africa"];

  // Me code
  export let ctrl_slider_value = 1800;
  export let ctrl_min_year = 1500;
  export let ctrl_max_year = 2500;
  

/*
// make opacity index changes
const incr = () => (ctrl_slider_value += 1)
  let change_opacity //https://svelte.dev/repl/04be7dbb37a74cf989faf827513ede51?version=3.16.7
  $: {
	 clearInterval(change_opacity)
	 change_opacity = setInterval(incr, 50)
   if (ctrl_slider_value > 1850){
    ctrl_slider_value = 1800
    clearInterval(change_opacity)
   }
 }
*/
// make opacity index changes
//const incr = () => (ctrl_slider_value += 1)


 // button function
 // State of Start/Stop button
let btn_on_off = 'Start'

  // function to handle the animatio nof the graph (change of year)
function incr_year_selected( )
  {
    ctrl_slider_value += 1
    if (ctrl_slider_value > ctrl_max_year)
    {
      ctrl_slider_value = ctrl_min_year
    }
  }

 let auto_increment_id = null

 function ctr_start_Click(event) 
 {
    if (btn_on_off == 'Start')
    {
      btn_on_off = 'Stop'
      auto_increment_id = setInterval(incr_year_selected, 50)
      
      /* // This doesn't seem to work.. I wonder why..
      if (ctrl_slider_value > 1850)
      {
        clearInterval(auto_increment_id)
      }
      */ 

    }

    else 
    {
      btn_on_off = 'Start'
      clearInterval(auto_increment_id)
    }
 }

	function ctr_reset_Click(event) {
		ctrl_slider_value = ctrl_min_year;
   
	}


  // drop down
  export let ctrl_selected_continent = null;
  

</script>

<style>
  #button_zone, #slider_zone, #dropdown {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
</style>

  <div class="form-check form-check-inline">
    <!-- Button  -->
    <div id="button_zone" style="display: table-cell" width=100>
      <button id='ctr_start_button' class="btn btn-primary" on:click={ctr_start_Click}>
        {btn_on_off}
      </button>
      <button id='ctr_reset_button' class="btn btn-primary" on:click={ctr_reset_Click}>
        Reset
      </button>
    </div>
    <!-- Slider -->
    <div id="slider_zone" style="display: table-cell" width=100>
        <input type="range" min={ctrl_min_year} max={ctrl_max_year} bind:value={ctrl_slider_value}/><br/>
        <p>Year: {ctrl_slider_value}</p> 
    </div>

  <!-- Dropdown -->
  <div id="dropdown" style="display: table-cell">
    <select bind:value={ctrl_selected_continent}>
      {#each continents as continent, index}
       <option value={continent}>
          {index} - {continent}
        </option>
      {/each}
    </select>
  </div> 
</div>

