<script>
  // https://observablehq.com/@d3/brushable-scatterplot
  import { extent } from "d3-array";
  import { select } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
 // import {brushX} from "https://cdn.skypack.dev/d3-brush@3"; // This crash half of the times. 
  import {brushX, brush} from "d3-brush"; // diff between brushX and brush ??


  // Properties
  export let data = [];
  
  export let x = (d) => d.x;
  export let y = (d) => d.y;
  export let xLabel = "x";
  export let yLabel = "y";

  // Dimensions
  const width = 400;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 35, left: 45 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  const xScale = scaleLinear().domain(extent(data, x)).range([0, innerWidth]);
  const yScale = scaleLinear().domain(extent(data, y)).range([innerHeight, 0]);

  // Axes
  const xAxis = (node) => axisBottom(xScale)(select(node));
  const yAxis = (node) => axisLeft(yScale)(select(node));

  // 4. Store data coord in a variable coord
  let coord = [] 
  data.forEach(d => 
    {
      coord.push( [xScale(x(d)), yScale(y(d))] ) 
    })

  // Brushing
  // The range of the selection rectangle.
  // If there is no active selection, it contains: null,
  // otherwise, it contains: [ [x0, y0], [x1, y1] ]
  let range = null;


  // 1. Define two component properties in _ex_4_scatter.svelte. One that stores an array of boolean values indicating which points are selected in both scatter plots and one that stores a similar array for the points selected in just the local component
  export let sctr_selected_by_this_element = null;
  sctr_selected_by_this_element = new Array(data.length).fill(true);
  export let sctr_selected_by_both_element = null


  // 3. Configure a d3-brush so that the selection property of the argument it passes to your callbacks is written to our range variable    
  const brush_func = (selection) => brush()
      .on("start", brushed)
      .on("brush", brushed)
      .on("end", brushed)(select(selection));

 
  function brushed({selection}) 
  {
    // LEGACY
    range = selection
    // 0,0 = left (from left)
    // 0,1 = top (from top)
    // 1,0 = right (from left)
    // 1,1 = bottom (from top)

    // UPDATED 5. reactively update the values of the local selection such that all data points are set to true

    sctr_selected_by_this_element = []

    if (range != null) 
    {
      coord.forEach(coord_i =>
      {
        if (  (coord_i[0] > range[0][0] && coord_i[0] < range[1][0]) &&   
        (coord_i[1] > range[0][1] && coord_i[1] < range[1][1]))
        {
          sctr_selected_by_this_element.push(true)
        }
        else
        {
          sctr_selected_by_this_element.push(false)
        }
      })
    }
    else
    {
      sctr_selected_by_this_element = new Array(data.length).fill(true);
    }

  }  

  /* // Note for me, we could make the logic for circle color here
  function opacity_flag(xrange) {
    if (xrange == null && (true && false)){
      return true
    } else {
      return false
    }
  } */
</script>

<svg viewBox="0 0 {width} {height}" class="mx-2" style="max-width: {width}px">
  <g use:brush_func transform="translate({margin.left},{margin.top})">
    <g >
      {#each data as d, index}
      {#if sctr_selected_by_both_element == null || sctr_selected_by_both_element[index] }

       <!--    {#if opacity_flag(range)} --> 
          <circle
            cx={coord[index][0]}
            cy={coord[index][1]}
            r={3}
            fill="steelblue"
            fill-opacity="1"
            stroke="steelblue"
            stroke-width="1.5"
            stroke-opacity="1"
          />
          {:else}
          <circle
            cx={coord[index][0]}
            cy={coord[index][1]}
            r={3}
            fill="darkgray"
            fill-opacity="0.3"
            stroke="darkgray"
            stroke-width="1.5"
            stroke-opacity="0.5"
          />
         {/if} 
      {/each}
    </g>
    <g use:xAxis transform="translate(0, {innerHeight})">
      <text class="axisLabel" x={innerWidth / 2} y={margin.bottom - 5}
        >{xLabel}</text
      >
    </g>
    <g use:yAxis>
      <text
        class="axisLabel"
        y={-margin.left + 10}
        x={-innerHeight / 2}
        transform="rotate(-90)">{yLabel}</text
      >
    </g>
  </g>
</svg>

<style>
  .axisLabel {
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
</style>
