<script>
	let count = 0;

	function handle_left_Click(event) {
		count += 1;
	}

    
	function handle_right_Click(event) {
		count =0;
	}
</script>

<button id='left_button' class="btn btn-primary" on:click={handle_left_Click}>
    {#if count < 2}
	    You have clicked {count} time
    {:else}
    You have clicked {count} times
    {/if}
</button>

<button id='right_button' class="btn btn-secondary" on:click={handle_right_Click}>
	Reset counter
</button>