<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color and opacity
  let color = "darkred";
  let opacity_index = 4

  // Make color change
  function changeColor(xindex)
  {
    color = "darkgreen"
  }
  
 /*
  if (opacity_index < 1) {
  color = "darkgreen";
  }
*/
  // make opacity index changes
  const incr = () => (opacity_index -= 1)
  let change_opacity //https://svelte.dev/repl/04be7dbb37a74cf989faf827513ede51?version=3.16.7
  $: {
	 clearInterval(change_opacity)
	 change_opacity = setInterval(incr, 1000)
   if (opacity_index < -1){
   changeColor(5)
   }
 }

  // for fun and test 
  /*
	function handle_right_Click(event) {
		opacity_index =4;
    color = "darkred";
	} 
  */
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    {#each points as point, index}
      {#if index > opacity_index}
        <circle
          cx={point}
          cy={innerHeight / 2}
          r={10}
          fill={color}
          opacity= {1.0}
          ></circle>
      {:else}
      <circle
        cx={point}
        cy={innerHeight / 2}
        r={10}
        fill={color}
        opacity= {0.3}
        ></circle>
      {/if}
    {/each}
  </g>
</svg>

<!-- for fun and test
<button id='right_button' class="btn btn-secondary" on:click={handle_right_Click}>
	Reset counter
</button>
-->