<script>
import { filter, map } from "d3-array";

  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let data_filtered = null;
  let app_min_year=null;
  let app_max_year=null;
  let app_selected_continent=null
  $: app_slider_value = app_min_year
  onMount(async () => {
    data = await json("/data/gapminder.json");
    
    // Get min / max year
    app_min_year = Math.min(...data.map(item => item.year));
    app_max_year = Math.max(...data.map(item => item.year));

    // !! I need much much much more explanation on how to filter json array!!
    // after a couple hourq of trying to figure it out, i'm giving up
    // using a if in scatterplot will do the job
    //.....
    // filter data so it keep the selected continent
    // data = data.filter(d => d.countries.continent == 'europe' )
    //data = data.countries.continent.filter(d => d == 'europe' )
    // data_filtered = data.filter(d=>d["countries"]["continent"]=="europe");
    // Select countries
    // data_filtered = data[0]
    // console.log(data);
    // Filter continent
   // data_filtered = data[0].filter( d => d.continent=="europe"  )npm  
   // data_filtered = data.filter(d=>d["year"]=="1800").filter(d=>d.map(item => item.continent)=="europe")
   // data.filter(object => object.countries.continent.includes("europe"))d
    //.then(data => data.filter(d=>d["year"]=="1800")[0].countries);
    // console.log(data_filtered);
  });
  

  // me 
  // Slider values + starting value is min value 

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>

    
      <Scatterplot data={data[app_slider_value-app_min_year]['countries']} 
                    sct_continent = {app_selected_continent} />

   <!--  <Scatterplot data={data_filtered['countries']} />-->

    <!-- bind: otherwise, only go from app to ctrl but not back  -->
    <Controls 
      bind:ctrl_slider_value={app_slider_value} 
      bind:ctrl_min_year = {app_min_year}
      bind:ctrl_max_year = {app_max_year}
      bind:ctrl_selected_continent = {app_selected_continent}/>

  </div>
{/if}
