<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Bonus from "../../extra_challenges/exercises/bonus.svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
 
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };

  // Brushing
  let app_selected_scatt1 = []
  let app_selected_scatt2 = []

  function calculate_global_selection(range1, range2) {
    if (range1 == null){
      return range2
    }else if (range2 == null){
      return range1
    }else {

      var len = 0
      range1.forEach(i => len += 1)
      /// WHY range1.length doesn't work ??!!! it always return "undefined"...

      // return range1
      let range1_and_2 = []
      for(var i = 0; i < 406 ; i++)
      {
        range1_and_2.push(range1[i] * range2[i])

      }
      return range1_and_2
    }
  }

  $: app_selected_global = calculate_global_selection(app_selected_scatt1, app_selected_scatt2)

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <!-- ... is spread operator. -->
  <Scatter {data} {...s1} 
            bind:sctr_selected_by_this_element={app_selected_scatt1}
            sctr_selected_by_both_element = {app_selected_global} />
  <Scatter {data} {...s2} 
            bind:sctr_selected_by_this_element={app_selected_scatt2}
            sctr_selected_by_both_element = {app_selected_global}/>
{/if}
