<script>

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // 2. 
  export let data = 1;

 // Scaling
 import { scaleLinear, scaleOrdinal } from 'd3-scale';
 import { max} from "d3-array";
 
  const xscale = scaleLinear()
    .domain([0, max(data, x => x.income)])
    .range([0, innerWidth]);
  const yscale = scaleLinear()
    .domain([0, max(data, y => y.life_exp)])
    .range([0, innerHeight]);

    const reverseyscale = scaleLinear()
    .domain([max(data, y => y.life_exp), 0])
    .range([0, innerHeight]);

    const rscale = scaleLinear()
    .domain([0, max(data, r => r.population)])
    .range([2, 10]);

    const scaleColor = scaleOrdinal();
    scaleColor.domain(["americas", "europe", "asia", "africa", ]);
    scaleColor.range(["red", "green", "blue", "orange"]);


  // 7. Axis
  import {axisBottom, axisLeft, axisRight} from "d3-axis";
  import {select} from "d3-selection";

  function xAxis(g){
    axisBottom(xscale)(select(g))
  }
  function yAxis(g){
    axisLeft(reverseyscale)(select(g))
  }
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->

    {#each data as value, index}
 
    {#if value.life_exp != null && value.income  != null}
        <circle cx={xscale(+value.income)} 
                cy={innerHeight-yscale(+value.life_exp)} 
                r={rscale(value.population)}
                style={"fill:" + scaleColor(value.continent)} />
    {/if}
   <!--
    <text   x=0
            y={index*13}>
          {value.continent} - {value.income} - {value.life_exp}</text>

    -->
    {/each}
  </g>

    <!-- x axis -->
<g  transform="translate({margin.left},{innerHeight+margin.top})" 
    id="myaxis" use:xAxis>  
    <text x={innerWidth/2} y=40 text-anchor="middle" fill="currentcolor">income</text>
  </g> 

  <!-- y axis -->
  <g transform={`translate(${margin.left},${margin.top})`} use:yAxis>
    <g transform={`translate(${-0.5*margin.left},${innerHeight/2})`}>
      <g transform='rotate(-90)'>
        <text x=0 y=0
        text-anchor="middle"
        fill="currentcolor"
        >life_exp
      </text>
      </g>
    </g>
  </g>

  <g>
    <text 
      x={innerWidth/2} 
      y={innerHeight/2}
      style="font-size:75px">1800</text>
  </g>
</svg>

