<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const rect1 = { width: 40, height : 40, color: 'yellow'}
  const circle1 = { radius: 20, color: 'skyblue'}
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    <rect x={(innerWidth-rect1.width)/2} y={(innerHeight-rect1.height)/2} width={rect1.width} height={rect1.height} fill={rect1.color}/>
    <circle  cx={(innerWidth+rect1.width)/2} cy={(innerHeight+rect1.height)/2} r={circle1.radius} fill={circle1.color} />
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
    
  }
</style> 
