<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  // Scaling
  import { scaleLog } from 'd3-scale';
  const scale = scaleLog()
    .domain([1, 10])
    .range([0, innerWidth]);

  // Axis
  import {axisBottom} from "d3-axis";
  import {select} from "d3-selection";


  function xAxis(g){
    axisBottom(scale)(select(g))
  }

</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})" >
    <!--  -->

    {#each values as xvalue}
    <circle cx={scale(xvalue)} cy={innerHeight/2} r=10  />
    {/each}
    
  
  </g>

<g  transform="translate({margin.left},{innerHeight-margin.top})" 
    id="myaxis" use:xAxis>  
    <text x={innerWidth/2} y={innerHeight/2-margin.top} text-anchor="middle" fill="currentcolor">x label</text>
  </g> 

</svg>
