<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const circle_radius = 10

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // Scaling
  import { scaleLinear, scaleOrdinal } from 'd3-scale';
  const xscale = scaleLinear()
    .domain([1, 10])
    .range([0, innerWidth]);
  const yscale = scaleLinear()
    .domain([4, 0])
    .range([0, innerHeight]);

    // Color
    const scaleColour = scaleLinear().domain([0,10]).range(["red","green"]) 
    
    const scaleColor = scaleOrdinal();
    scaleColor.domain(["cat1", "cat2", "cat3"]);
    scaleColor.range(["red", "green", "blue"]);
    // import { schemeCategory10  } from 'd3-scale-chromatic';
    // scaleColor.range(schemeAccent)

     
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    {#each values as value}
    <text x={xscale(value.x)} 
          y={yscale(value.y) - circle_radius - 10}
          class="valueLabel" > {value.y} </text>
    <circle cx={xscale(value.x)} cy={yscale(value.y)} r={circle_radius} style={"fill:" + scaleColor(value.category)}/>
    <line x1="{xscale(value.x)}" 
          x2="{xscale(value.x)}" 
          y1="{innerHeight}" 
          y2="{yscale(value.y)+circle_radius}" ></line>
    {/each}
  </g>
</svg>
<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  line {
    stroke:black;
    stroke-width: 3;
  }
</style>