<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Scaling
  import { scaleBand, scaleLinear,scaleOrdinal } from 'd3-scale';


  const yscale = scaleLinear()
    .domain([0, 4])
    .range([0, innerHeight]);

    const reverseyscale = scaleLinear()
    .domain([4, 0])
    .range([0, innerHeight]);
  const xscale = scaleLinear()
    .domain([0, 6])
    .range([0, innerWidth]); 

    const labelscale = scaleBand();
    labelscale.domain(["Netflix", "Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten" ]);
 
   labelscale.range([0, innerWidth]); 

  // Axis
  import {axisBottom, axisLeft, axisRight} from "d3-axis";
  import {select} from "d3-selection";
  import { ticks } from 'd3-array';

  function xAxis(g){
    axisBottom(labelscale)(select(g))
  }

  function yAxis(g){
    axisLeft(reverseyscale)(select(g))
  }

  </script>


<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->
    {#each data as value, index}
        <rect   x="{xscale(index)}"
                y="{innerHeight-yscale(value.viewers)}"
                width="{innerWidth/6- 5}"
                height="{yscale(value.viewers)}"></rect>
    {/each}
  </g>

  <!-- x axis -->
  <g  transform="translate({margin.left},{innerHeight+margin.top})" 
    id="myaxis" use:xAxis>   
  </g> 

  <!-- y axis -->
  <g transform={`translate(${margin.left},${margin.top})`} use:yAxis>
    <g transform={`translate(${-0.5*margin.left},${innerHeight/2})`}>
      <g transform='rotate(-90)'>
        <text x=0 y=0
        text-anchor="middle"
        fill="currentcolor"
        >Viewers (Million)</text>
      </g>
    </g>

  </g>
</svg>

