<script>
    // 1. 
    import Ex7 from './_ex_7_scatterplot.svelte';

    // 3. Get the data

    import {onMount} from 'svelte';
    import {json} from 'd3-fetch'
    let data = null;
    let dataa = null;

    onMount(async () => {
        // data = await json('/data/gapminder.json')});
       // data = await json('/data/gapminder_small.json')});
        data = await fetch('/data/gapminder.json')
            .then(res => res.json())
            // 3bis: filter
            .then(data => data.filter(d=>d["year"]=="1800")[0].countries);
        });
    

</script>


    {#if data == null}
        <p>Data is being loaded.</p>
    {:else}
        <Ex7 data={data}/>
    {/if}

